/*Header 1st Row */
.hrow1{
    background-color: #E9F6EB;
    border-color: rgb(8,129,121) !important;
    padding-inline: 90px;
}

.supervalues{
    color:#8F8F8B;
    font-weight:700;
}

/* nav-bar */
nav{
    margin-inline: 80px;
}

.nav-link{
    color: black;
    font-weight:600 !important;
    margin-inline: 12px;
}

.nav-link:hover{
    color: rgb(8,129,121);
}

.active{
    color: rgb(8,129,121) !important;
}

.searchbar{
    width: 300px;
}

.icons{
    margin-inline: 15px;
}

.badge{
    background-color: rgb(8,129,121);
}

/* Hero Section */
.hero{
    width: 87vw;
    margin: auto;
}

.hot-prom{
    font-weight: 600;
    color: rgb(70,90,80);
}

.fash-trend{
    font-size: 50px;
}

.grt-coll{
    color: rgb(8,129,121);
    font-size: 60px;
}

.button{
    background-color: rgb(8,129,121);
    font-weight: 600;
}

.button:hover{
    color: rgb(8,129,121) !important;
    border-color: rgb(8,129,121);
}

/* Popular Categories */
.categories{
    width: 87vw;
    margin: auto;
}

.popular{
    color: rgb(8,129,121);
}

.pc1>div>p{
    color: rgb(8,129,121);
    background-color: rgb(233,246,235);
    height: 30px;
    width: 30px;
    border: 1px solid rgb(209,234,213);
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    margin-left: 10px;
}

.pc2>div{
    border: 1px solid rgb(209,234,213);
    border-radius: 10%;
    margin-right: 25px;
}

.pc2>div>img{
    width: 200px;
    padding: 10px;
    border-radius: 10%;
}

.pc2>div>p{
    text-align: center;
    font-weight: 600;
    padding-block: 5px;
}

/* Banner Section */
.banner{
    width: 87vw;
    margin: auto;
}

.banner1{
    background-image: url("./Images/deals-1.jpg");
    background-size: 102% 100%;
    width: 650px;
    height: 500px;
}

.banner2{
    background-image: url("./Images/deals-2.png");
    background-size: 125% 100%;
    width: 650px;
    height: 500px;
}

.b-heading{
    color: rgb(8,129,121);
    font-weight: 600;
}

.new-cost{
    color: rgb(255,51,75);
    font-weight: 600;
}

.old-cost{
    color: rgb(141,141,141);
}

.timer>p{
    margin-top: 15px;
    margin-inline: 10px;
}

.timer>div>div{
    color: white;
    background-color: rgb(8,129,121);
    font-size: 18px;
    font-weight: 600;
    height: 55px;
    width: 60px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    margin-bottom:5px;
}

.timer>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-now{
    color: rgb(8,129,121);
    border-color: rgb(8,129,121);
    font-weight: 600;
    padding-block: 12px !important;
}

.shop-now:hover{
    color: rgb(8,129,121);
    border-color: rgb(8,129,121);
}

/* 4 Column Layout */
.parent{
    width: 300px;
    background-color: lightgrey;
    height: 1px;
    margin-top: 10px;
}

.child{
    width: 15%;
    height: 2px;
    background-color: rgb(8,129,121);
}

.row{
    width: 87vw;
    margin: auto;
}

.row>div{
    display: flex;
    align-items: center;
    margin-block: 15px;
    font-weight: 600;    
}

.row>div>img{
    width: 90px;
    height: 90px;
    margin-right: 15px;
}

.new{
    color: rgb(8,129,121);
    font-size: 18px;
}

.item-name{
    font-size: 14px;
}

/* Footer */
/* Section 1 */
.sec1{
    background-color: rgb(173,204,197);
    padding: 35px !important;
}

.info{
    font-weight:600 !important;
}

.email{
    width: 400px;
}

.subscribe:hover{
    background-color: rgb(8,129,121) !important;
}

/* Section 2 */
.links>a{
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 8px;
}

.links>a:hover{
    color: rgb(8,129,121);
}

.sec2{
    width: 87vw;
    padding-left: 32px;
}

/* Section 3 & Social Icons */
.sec3,.social{
    width: 87vw;
    margin: auto;
}

.fa-brands{
    padding-right: 15px;
}

.fa-brands:hover{
    color: rgb(8,129,121);
}

