/*Header 1st Row */
.hrow1{
    background-color: #E9F6EB;
    border-color: rgb(8,129,121) !important;
    padding-inline: 100px;
}

.supervalues{
    color:#8F8F8B;
    font-weight:700;
}

/* nav-bar */
nav{
    margin-inline: 80px;
}

.nav-link{
    color: black;
    font-weight:600 !important;
    margin-inline: 12px;
}

.active{
    color: rgb(8,129,121) !important;
}

.searchbar{
    width: 300px;
}

.icons{
    margin-inline: 15px;
}

.badge{
    background-color: rgb(8,129,121);
}


